@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';


.container-about-us {
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-box {
  width: 350px;
}

.about-us-txt {
  font-size: $f-main;
}


@include for-tablet-up {
  .about-us-box {
    width: 600px;
  }

  .about-us-txt {
    font-size: $font-size-medium;
  }
}

@include for-desktop {
  .about-us-box {
    width: 900px;
  }
}

@include for-wide-desktop {
  .about-us-box {
    width:1200px;
  }

  .about-us-txt {
    font-size: $font-size-large;
  }
}