.container-baner {

    height: 200px;
    text-align: center;
    font-size: large;
    font-family: serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, pink , white);
  }
  
  @media only screen and (min-width: 992px) {
    .container-baner {
      width: 700px!important;
      height: 200px;
    }
  }
  .baner-img {
      width:100px;
      height: 100px;
      color: black;
  }