.banner-container {
  height: 300px;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(202,226,255,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.banner-p {
  color: #9A208C;
  font-size: 2.5em;
  margin-right: 0.2em;
}