@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.banner-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.banner-link {
  text-decoration: none;
}

.banner-p {
  font-family: $f-accent;
  color: $c-white;
  font-size: 1.5em;
  margin-right: 0.2em;
  animation: stretch 2s ease-out infinite alternate;
  text-align: center;
}

@keyframes stretch {
  0% {
    transform: scale(1.1);
  }
}


@include for-tablet-up {
  .banner-p {
    font-size: 2.5em;
    margin: 1rem 0;
  }
}