.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'DM Serif Display';
}

h2 {
  text-align: center;
  padding-bottom: 25px;
}

.contact-button {
  background:linear-gradient(to right, #012f70, #011a3d,#0144a3)!important;
}


@media only screen and (min-width: 992px) {
  .container-form {
    width: 700px!important;
  }
}