$primary-gradient: linear-gradient(to right, #012f70, #011a3d, #0144a3);
$font-family-default: 'DM Serif Display';
$mobile-breakpoint: 992px; // Adjust based on your design

.container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family-default;
}

h2 {
  text-align: center;
  padding-bottom: 25px;
}

.contact-button {
  background: $primary-gradient !important;
}

.contact-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .email-sended-icon {
    width: 420px;
    margin: 20px;

    @media only screen and (max-width: $mobile-breakpoint) {
      width: 300px;
    }
  }

  .contact-modal-txt {
    font-size: 30px;
    text-align: center;

    @media only screen and (max-width: $mobile-breakpoint) {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .container-form {
    width: 700px !important;
  }
}
