@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $c-white;
  background: $c-theme;
  padding: 2em;

  .footer-social {
    padding-top: 10px;

    .footer-social-link {
      color: #011a3d;
    }
  }

  .footer-link {
    text-decoration: none;
    color: $c-white;
    font-size: $font-size-semi-large;
  }
}

@include for-tablet-up {
  .footer {
    .footer-container-contact {
      display: flex;
      flex-direction: row;
    }

    .footer-link {
      font-size: $font-size-large;
      &:hover {
        text-decoration: none;
        color: $c-accent;
      }
    }

    .footer-social-link {
      margin: 10px;
      &:hover {
        filter: blur(1px);
      }
    }
  }
}