@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';


.gallery-section {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-container {
  margin-top: 35px;
  padding-inline: 50px;
}

.gallery-header {
  text-align: center;
}

.gallery-txt {
  width: 350px;
  font-weight: $weight-light;
}

.box-photo:hover {
  cursor: pointer;
  opacity: 0.5;
}

.gallery-button {
  background: $c-theme !important;
  margin-top: 3px;
}

.card-body-txt {
  margin-bottom: 2px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

//modal

.modal-content {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modal-body {
  overflow-y: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: #0144a3;
  padding: 15px;
  border-radius: 50px;
}

.modal-text {
  margin-top: 15px;
  text-align: center;
}

.b-footer {
  border: solid 1px $c-accent !important;
  margin: 8px;
  width: 350px;

  &:hover {
    color: $c-accent !important;
  }
}

.b-exit {
  background: $secondary-gradient !important;
}

.b-reserve {
  background: $c-theme !important;
}


@include for-tablet-up {

  .gallery-section {
    padding-top: 100px;
  }

  .modal-content {
    height: 95vh;
  }

  .gallery-txt {
    width: 500px;
    font-weight: $weight-light;
  }
}

@include for-desktop-up {
  .gallery-txt {
    width: 700px;
    font-weight: $weight-light;
    font-size: $font-size-semi-large;
  }
}