@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.container-gallery {
  margin-top: 35px;
  padding-inline: 50px;

  .box-photo:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  .gallery-button {
    background: $c-theme !important;
    margin-top: 3px;
  }
}

.card-body-txt {
  margin-bottom: 2px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: #0144a3;
  padding: 15px;
  border-radius: 50px;
}

.modal-body {
  overflow-y: auto;
}

.modal-text {
  margin-top: 15px;
  text-align: center;
}

.b-footer {
  border: solid 1px $c-accent !important;
  margin: 8px;
  width: 350px;

  &:hover {
    color: $c-accent !important;
  }
}

.b-exit {
  background: $secondary-gradient !important;
}

.b-reserve {
  background: $c-theme !important;
}


@include for-tablet-up {
  .modal-content {
    height: 95vh;
  }
}