.container-gallery {
  margin-top: 35px;
  padding-inline: 50px;
}

.box-photo:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal-dialog {
  margin-top: 5vh;
}

.modal-content {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-body {
  overflow-y: auto;
}

button {
  font-family: 'DM Serif Display', serif!important;
  background:linear-gradient(to right, #012f70, #011a3d,#0144a3)!important;
}

button:hover {
  color: gold!important;
}