.navbar {
  background-image:linear-gradient(to right, #012f70, #011a3d,#0144a3); 
  font-family: 'DM Serif Display', serif;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: rgb(255, 217, 0); 
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-collapse .nav-link {
  margin: 5px 20px;

}