.sticky-header .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: linear-gradient(to right, #012f70, #011a3d, #0144a3);
  font-family: 'DM Serif Display', serif;
}

.container {
  width: 90%!important;
}


.navbar .nav-link {
  color: white;
  font-size: 20px;
}

.navbar .nav-link:hover {
  color: gold;
}

.navbar-toggler-custom {
  border-color: gold!important;
}

.navbar-toggler-custom .navbar-toggler-icon {
  color: gold; 
}

.navbar .navbar-nav {
  align-items: center;
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.navbar-collapse .nav-link {
  margin: 5px 20px;

}

.box {
  display: flex;
  align-items: center;
}