.box {
  width: 150px;
  height: 110px;
  padding: 5px;
}

.logo {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease-in-out, height 1s ease-in-out; 
}

.logo-icon {
  height: 100px;
}

.logo-tittle {
  color: #FFFFFF;
  font-size: 23px;
  font-family: 'DM Serif Display', serif;
}