.box {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin-right: 50px;
}

.logo-icon {
  height: 90px;
}

.logo-tittle {
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'DM Serif Display', serif;
}