@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

#photo-block {
  .container-photo-block {
    background-image: url("../assets/photoBlock.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    height: 700px;
    margin-top: 30px;
  }
}
