
@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

$circle-size: 150px;


.quality-container {
  background-image: url("../assets/qualityTheme.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .box-circle {
    width: $circle-size;
    height: $circle-size;
    background-color:#ffffffd8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

  }

  .quality-icon {
    width: $circle-size;
    height: $circle-size;
  }

  .tittle {
    color: $c-accent;
  }

  .card-text {
    color: $c-white;
  };
}
