@import './config/colors';
@import './config/breakpoints';
@import './config/fonts';

.box-sm {
  width: 150px;
  height: 60px;
  padding: 5px;

  .logo-icon-sm {
    height: 45px;
  }

  .logo-tittle-sm {
    color: $c-white;
    font-size: $font-size-small;
    font-family: $f-accent;
  }
}

.small-logo {
  opacity: 0;
  height: 0; 
}
