@import './config/colors';
@import './config/fonts';
@import './config/breakpoints';

.terms-container {
  background-color: #f9f9f9;
  text-align: center;
  padding-bottom: 60px;
}

.terms-title {
  font-weight: $f-main;
  padding-top: 85px;
}

.terms-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 2px solid $c-support;

  &:last-child {
    border-bottom: none;
  }

  .terms-item-title {
    font-size: $font-size-large;
    font-weight: $f-main;
  }
}

@include for-desktop-up {
  .terms-container {
    background-color: #f9f9f9;
    text-align: center;
    padding-bottom: 100px;
  }


  .terms-title {
    padding-top: 110px ;
  }
}