$hover-bg-color: rgba(240, 248, 255, 0.564);
$large-screen-padding: 5%;
$xlarge-screen-padding: 7%;

@import './config/breakpoints';

.wc-image {
  width: auto;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: $hover-bg-color !important;
}

@include for-desktop {  .carousel-inner {
  padding-left: $large-screen-padding !important;
  padding-right: $large-screen-padding !important;
}}

@include for-wide-desktop {  .carousel-inner {
  padding-left: $xlarge-screen-padding !important;
  padding-right: $xlarge-screen-padding !important;
}}

