$c-black: #000;
$c-white: #fff;

$c-primary: #000;
$c-accent: #ffd700;
$c-support: #012f70;
$c-theme: linear-gradient(to right, #012f70, #011a3d, #0144a3);
$secondary-gradient: linear-gradient(to right, #c3c3c3, #7a7a7a, #adadad);