

$f-main-light: 'DM Serif Display', serif; // (waga: 300)
$f-main-regular: 'DM Serif Display', serif; // (waga: normal/400)
$f-main-medium: 'DM Serif Display', serif; // (waga: 500)
$f-main-semi-bold: 'DM Serif Display', serif; // (waga: 600)
$f-main-bold: 'DM Serif Display', serif; // (waga: bold/700)

// Rozmiary czcionek
$font-size-small: 14px; 
$font-size-medium: 16px; 
$font-size-semi-large: 18px; 
$font-size-large: 20px; 


$header-size-small: 16px; 
$header-size-medium: 25px; 
$header-size-semi-large: 33px;
$header-size-large: 40px; 
$header-size-extra-large: 50px; 